<!--<p>form works!</p>-->
<!--<h2>{{ title }}</h2>-->
<!--<p>{{ label }}</p>-->

<!--<table mat-table [dataSource]="tabledata" class="mat-elevation-z8" *ngIf="tabledata.length">-->

<!--  <ng-container *ngFor="let col of headerdata" [matColumnDef]="col.name">-->
<!--    <th mat-header-cell *matHeaderCellDef> {{ col.label }} </th>-->
<!--    <td mat-cell *matCellDef="let row">-->
<!--      <input [(ngModel)]="row[col.name]" />-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->

<!--<div class="form-buttons" *ngIf="buttons.length">-->
<!--  <button *ngFor="let btn of buttons" mat-button (click)="handleAction(btn)">-->
<!--    {{ btn.buttonname }}-->
<!--  </button>-->
<!--</div>-->



<!--<p>form works!</p>-->
<!--<h2>{{ title }}</h2>-->
<!--<p>{{ label }}</p>-->

<!--<igx-grid-->
<!--  [data]="tabledata"-->
<!--  [autoGenerate]="false"-->
<!--  [primaryKey]="displayedColumns[0]"-->
<!--  *ngIf="tabledata.length"-->
<!--&gt;-->
<!--  <igx-column *ngFor="let col of headerdata"-->
<!--              [field]="col.name"-->
<!--              [header]="col.label"-->
<!--              [editable]="true">-->
<!--  </igx-column>-->
<!--</igx-grid>-->

<!--<div class="form-buttons" *ngIf="buttons.length">-->
<!--  <button *ngFor="let btn of buttons" igxButton="flat" (click)="handleAction(btn)">-->
<!--    {{ btn.buttonname }}-->
<!--  </button>-->
<!--</div>-->
